
span#ui5pos-component---appview--profile-avatar {
    background :white;
    background :white !important;
}

.custom.avatar-popover-pic {
    background: white;
    border: 2px solid #dbdbdb;
    background: white !important;
    border: 2px solid #dbdbdb !important;
}

button#ui5pos-component---appview--nav-info-button {
    margin-left: 0;
}