.custom.h-sep-child > * {
    margin-right : 0.25em;
}
.custom.h-sep-child > *:last-child {
    margin-right : 0;
}

.custom-font.font-2-em {font-size: 2em}
.custom-font.font-4-em {font-size : 4em}

.no-border table tbody td { border-top : none;}